@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0; background:url(image/bg_body.jpg) repeat-x;}
ul,li{margin:0;padding:0; list-style:none;}
a{ text-decoration:none;}
#Width{ width:1100px; margin:0 auto;}
.always{
	height:18px;
	font-size:18px;
}
.always span{
	width:36px;
	color:#1d276c;
	border-bottom:1px solid #001393;
	display:inline-block;
	*display:inline; *zoom:1;
	padding-bottom:9px;
}
.always a{
	width:320px;
	color:#333;
	border-bottom:1px solid #7a7a7a;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding-bottom:9px;
}
.always img{margin-top:18px;}
.always p{
	font-size:12px;
	color:#333;
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:20px;
}
.always .p2{ margin-left:28px;}
.always  h1{ margin:0;}
.always  h1 a{
	font-size:18px;
	color:#1d276c;
	font-weight:normal;
	border:none;
	padding-bottom:16px;
}
.always li{
	list-style:disc;
	font-size:12px;
	padding-bottom:10px;
	*padding-bottom:4px;
	}
.always li a{
	width:350px;
	color:#4c4c4c;
	border:none;
	padding-bottom:0;
}



#nav{ margin-bottom:32px;}
#nav_list{
	height:32px;
	font-size:12px;
	line-height:32px;
}
#nav_list .list li{	margin-right:12px;}
#nav_list .load{ *margin-top:-32px;	float:right;}
#nav_list ul,#nav_list li{*margin-right:6px;	display:inline-block;
	*display:inline; *zoom:1;}
#nav_list a{	color:#444;}

#nav_logo{
	height:106px;
	font-size:12px;
	color:#76644d;
}
#nav_logo img{
	margin-top:30px;
}
#nav_logo .search{
	height:86px;
	*margin-top:-81px;
	float:right;
}
#nav_logo form{
	width:400px;
	height:30px;
	margin-top:30px;
	background:url(image/bg_search.jpg);
	position:relative;
}
#nav_logo form img{
	position:absolute;
	bottom:6px;
	left:10px;
}
#nav_logo form img:hover{
	cursor:pointer;
}
#nav_logo span{
}
#nav_logo .txt{
	width:308px;
	height:28px;
	padding:0px;
	border:1px solid #a2a2a2;
	border-right:none;
	padding-left:26px;
}
#nav_logo .btn{
	font-size:16px;
	color:#fff;
	height:30px;
	background:none;
	border:0;
}
#nav_logo ul{
	margin-top:12px;
	*margin-top:-22px;
}
#nav_logo ul,#nav_logo li{
	display:inline-block;
	*display:inline; *zoom:1;
}
#nav_logo a{
	color:#76644d;
	margin-right:6px;
}
#nav_bottom{
	height:36px;
	margin-top:24px;
	margin-left:56px;
	position:relative;
}
#nav_bottom .select{
	font-size:16px;
	color:#fff;
    cursor:pointer;
	display:inline-block;
	*display:inline; *zoom:1;
}
#nav_bottom img{
	position:absolute;
	top:4px;
	left:74px;
}
#nav_bottom ul,#nav_bottom li{display:inline-block;
	*display:inline; *zoom:1;}
#nav_bottom a{
	font-size:16px;
	color:#fff;
	margin-left:60px;
}
#nav_bottom a:hover{color:#ff7725;}




#content1{
	height:880px;
	font-size:14px;
	color:#333;
}
#content1 .content_left{
	width:365px;
	float:left;
	margin-right:20px;
	position:relative;
}
#content1 .car{ margin-bottom:38px;}
#content1 .car span{
	width:40px;
	height:74px;
	font-size:30px;
	line-height:74px;
	text-align:center;
	color:#fff;
	background:#000;
	display:block;
	opacity:0.4;
	position:absolute;
	top:70px;
}
#content1 .car span:hover{ opacity:0.8;}
#content1 .car .right{	right:0;}
#content1 .car .bottom{
	width:365px;
	height:33px;
	top:210px;
	font-size:14px;
	line-height:33px;
	text-align:left;
	text-indent:1em;
}
#content1 .content_left li{
	list-style:disc;
	margin:10px auto 8px 16px;
}
#content1 .build li{
	margin:0;
	margin-left:15px;
}
#content1 .Big{
	position:absolute;
	top:736px;
}



#content1 .content_center{
	width:365px;
	float:left;
	margin-right:20px;
}
#content1 .hot{
	width:365px;
	height:295px;}
#content1 .hot span{ width:72px;}
#content1 .hot a{ width:284px;}
#content1 .hot h1{ margin-top:16px;}
#content1 .hot h1 a{ width:365px;}
#content1 .hot li{ margin-left:15px;}
#content1 .hot li a{ width:350px;}
#content1 .electric{ margin-top:38px;}
#content1 .electric li{ margin-left:15px;}


#content1 .content_right{
	width:330px;
	float:right;
}
#content1 .classify{
	height:295px;
	width:330px;
}
#content1 .classify span{
	width:36px;
	font-size:18px;
	color:#1d276c;
	border-bottom:1px solid #001393;
	display:inline-block;
	*display:inline; *zoom:1;
	padding-bottom:9px;
}
#content1 .classify strong{ width:284px;
    color:#333;
	border-bottom:1px solid #7a7a7a;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding-bottom:12px;}
#content1 .classify h1{ margin-top:16px;}
#content1 .classify h1 a{font-size:18px;
	color:#1d276c;
	font-weight:normal;
	border:none;
	padding-bottom:16px;
}
#content1 .classify div a{
	display:inline-block;
	line-height:22px;
	margin-right:20px;
	font-size:13px;
	border:none;
	color:#333;
}

#content1 .rank{
	width:330px;
	height:380px;
	margin-top:30px;
}
#content1 .rank img{ margin-bottom:16px;}
#content1 .rank span{ width:54px;}
#content1 .rank a{ width:266px;}
#content1 .rank dl{width:330px;}
#content1 .rank dt{
	width:236px;
	height:16px;
	font-size:12px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:14px;
	padding-left:26px;
}
#content1 .rank dl span{
	width:68px;
	height:16px;
	color:#333;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:none;
	font-size:12px;
}




#content2{ height:976px;}
#content2 .content2_left{
	width:365px;
	float:left;
	margin-right:20px;
	position:relative;
}
#content2 .gold{ height:424px;}
#content2 .gold li{ margin-left:15px;}
#content2 .mail{ height:414px;}
#content2 .mail li{ margin-left:15px;}
#content2 .content2_center{
	width:365px;
	float:left;
	margin-right:20px;
}
#content2 .content2_right{
	width:330px;
	float:right;
}
#content2 .supply{ height:424px; *margin-top:-23px;}
#content2 .supply a{ width:280px; padding-bottom:0px;}
#content2 .supply a span{
	margin-top:8px;
	width:46px;
	padding-bottom:6px;
	border:none;
	font-size:14px;
	color:#333;
	float:right;
}
#content2 .supply dt{
	width:236px;
	height:16px;
	font-size:12px;
	padding-left:26px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:14px;
	margin-bottom:8px;
	background:url(image/bg_content2list.jpg) no-repeat 6px 8px;
}
#content2 .supply dl span{
	width:68px;
	height:16px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:none;
	font-size:12px;
}
#content2 .Big1{
	position:absolute;
	top:842px;
	margin-bottom:30px;
}

#content2 .buy{ height:424px; *margin-top:-28px;}
#content2 .buy a{ width:280px; padding-bottom:0px;}
#content2 .buy a span{
	margin-top:8px;
	width:46px;
	padding-bottom:6px;
	border:none;
	font-size:14px;
	color:#333;
	float:right;
}
#content2 .buy dt{
	width:236px;
	height:16px;
	font-size:12px;
	padding-left:26px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:14px;
	margin-bottom:8px;
	background:url(image/bg_content2list.jpg) no-repeat 6px 8px;
}
#content2 .buy dl span{
	width:68px;
	height:16px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:none;
	font-size:12px;
}


#content3{ height:420px;}
#content3 .content3_left{
	height:384px;
	width:365px;
	float:left;
	margin-right:20px;
	position:relative;}
#content3 .spin li{ margin-left:15px;}
#content3 .content3_center{
	width:365px;
	float:left;
	margin-right:20px;
}
#content3 .service li{ margin-left:15px;}
#content3 .content3_right{
	width:330px;
	height:280px;
	float:right;
}
#content3 .brand a{ width:280px;}
#content3 .brand dl{ height:348px; margin-top:20px; display:inline-block; *display:inline;*zoom:1;}
#content3 .brand dl li{ list-style:none; *margin-bottom:10px; display:inline-block; *display:inline;*zoom:1;}
#content3 .brand dl a{ border:none; width:163px;}
#content3 .brand dl img{ margin-top:0; border:none;}


#footer{
	height:164px;
	font-size:12px;
	color:#fff;
	background:#575757;
}
#bottom{
	width:930px;
	margin:0 auto;
	padding-top:26px;
}
#bottom li{ width:930px; line-height:26px;}
#bottom li a{ color:#fff; }
#bottom .li1{ margin-left:96px;}
#bottom .li2{ margin-left:270px;}
#bottom .li4{ margin-left:320px;}
#bottom .li5{ margin-left:276px;}

